/auto-save-list/.saves-62738-MBPro-AW.station~
/company-statistics-cache.el
/config.el
/elpa/
/projectile-bookmarks.eld
/recentf
/eshell/
/temporary/
/auto-save-list/.saves-68850-MBPro-AW.station~
/*.station
/auto-save-list/.saves-94602-MBPro-AW.station~
